[Tt]humbs.db
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
.svn

*.perspectivev3
*.pbxuser
*.user
*.sdf
*.suo
*.ncb
*.sbr
*.log
*.pch
*.vspscc
*.bak
*.vssscc
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild